[submodule "coupon/src/main/java/com/haot/submodule"]
	path = coupon/src/main/java/com/haot/submodule
	url = https://github.com/How-about-over-there/submodule.git
[submodule "user/src/main/java/com/haot/submodule"]
	path = user/src/main/java/com/haot/submodule
	url = https://github.com/How-about-over-there/submodule.git
[submodule "review/src/main/java/com/haot/submodule"]
	path = review/src/main/java/com/haot/submodule
	url = https://github.com/How-about-over-there/submodule.git
[submodule "reservation/src/main/java/com/haot/submodule"]
	path = reservation/src/main/java/com/haot/submodule
	url = https://github.com/How-about-over-there/submodule.git
[submodule "lodge/src/main/java/com/haot/submodule"]
	path = lodge/src/main/java/com/haot/submodule
	url = https://github.com/How-about-over-there/submodule.git
